name = <%= name %>
machine name = <%= name %>
description = <%= description %>
version = <%= version %>
<% ['css', 'js'].forEach((k) => assets[k].forEach((f) => { %>
files[<%= k %>][] = <%= f %>
<% })) %>
